<!DOCTYPE html>
<html>
    <body>
        <span><?=isset($message) ? $message : ''; ?></span>
        <?php if (isset($request)): ?>
            <div>
                Request:
                <code><?=$request;?></code>
            </div>
        <?php endif; ?>
        <?php if (isset($response)): ?>
            <div>
                Response:
                <code><?=$response;?></code>
            </div>
        <?php endif; ?>
        <form action="/" method="post">
            <label>
                Login
                <br />
                <?=$form->render('login'); ?>
            </label>
            <br />
            <label>
                Password
                <br />
                <?=$form->render('password'); ?>
            </label>

            <input type='hidden' name='<?php echo $this->security->getTokenKey() ?>'
                   value='<?php echo $this->security->getToken() ?>'/>
<!--            --><?//=$form->render('crfs'); ?>
            <input type="submit" />
            <br />
        </form>
    </body>
</html>
